<center><h1> CPE 4040 Spring 2024: Homework 2</h1></center>

1. Write your answer in the cell provided under each question.
2. __Write comments__ in the code to explain your thoughts.
3. Show your execution result.
4. Do not use pandas, NumPy or other packages we have nor covered yet. 
4. __Do your own work.__    

### Submission:
 * __Submit this notebook file and the pdf version__ - remember to add your name in the filename.
 * Deadline: 11:59 pm, 2/4 (Sunday)

### Q1: Mary Had a Little Lamb (15 Points)

In [92]:
title = 'mary HAD a little lamb'

lyrics = '''
Mary had a little limb,
Little limb, little limb.
Mary had a little limb
Its fleece was white as snow.

And everywhere that Mary went,
Mary went, Mary went,
Everywhere that Mary went
The limb was sure to go.

It followed her to school one day,
School one day, school one day.
It followed her to school one day
Which was against the rules.

It made the children laugh and play,
Laugh and play, laugh and play.
It made the children laugh and play,
To see a limb at school.
'''

### Q1.1 The song title is not properly capitalized. Use string method to correct it to "Mary Had a Little Lamb".

In [93]:
title = title.title()
print(title)

mary HAD a little lamb

### Q1.2 The word "lamb" is misspelled in several places. Please find them and correct the spelling.

### Q1.3 How many words are in this song, not including commas, periods, spaces and new lines?

Note: Use string method split( ) first.

### Q2: Palindrome or Symmetrical String (20 Points)

Write a Python program to check whether an input string is palindrome or symmetrical.
    
    A sequence is said to be palindrome if one half of the string is the reverse of the other half, e.g., "madam".
    A sequence is said to be symmetrical if both halves of the string are the same, e.g., "abcabc"
    
    **Note: if there are odd number of letters in a string, the middle one is ignored.
    **Note: the string is case insensitive
    
**Hint:** use the string slice( ) method to divide the string into 2 halves.

To show your work, use those input strings: "level", "Cosco", "aaaAAaaa".

### Q3: List Comprehension - Exploring State Names (30 Points)

Given the a list of 50 state names, please use list comprehension to answer the following questions.

In [94]:
#--------------------------------------------------------------
# 50 state names as a list
#--------------------------------------------------------------
states = ['Alabama','Alaska','Arizona','Arkansas','California','Colorado',
          'Connecticut','Delaware','Florida','Georgia','Hawaii','Idaho',
          'Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana',
          'Maine','Maryland','Massachusetts','Michigan','Minnesota',
          'Mississippi','Missouri','Montana','Nebraska','Nevada',
          'New Hampshire','New Jersey','New Mexico','New York',
          'North Carolina','North Dakota','Ohio','Oklahoma','Oregon',
          'Pennsylvania','Rhode Island','South Carolina','South Dakota',
          'Tennessee','Texas','Utah','Vermont','Virginia','Washington',
          'West Virginia','Wisconsin','Wyoming']

### Q3.1 What are the top 3 states with the longest one-word name?  

Hint: Remember do not consider states such New York, North Carolina etc. which have two words.

### Q3.2 Which states start and end with the same letter, for example, Alaska starts and ends with 'a'?

### Q3.3 Which alphabetic letter is not present in any of the state names? Yep, there's only one.

### Q3.4 Which states names have no character repetition? For example, Florida has 7 distict letters and no repetition.

### Q3.5: Which state names do not have the letter 'a' at all?

<h3> Q4: List Operations (20 points) </h3>

You will first generate a list of 10 random integers from 1 to 1000 by using the Python random module. Save the list (let's call it A) and write a short snippet for each of the following task:

1. Pick and sort first the odd numbers then the even numbers in ascending order and print the final list, e.g. [1 3 51 4 16 32]
2. Extract only the items that are less than 250.
3. Create a new list where each item y is the square of the correpsonding item in A.
4. Extract the items that are NOT divisible by 3 and NOT divisible by 7

In [95]:
import random

# Note: you can use random.randint() to generate the random integers

In [96]:
#Q4_1

In [97]:
#Q4_2

In [98]:
#Q4_3

In [99]:
#Q4_4

### Q5: Order of Planets (15 Points)

In the solar system, the planets, in order of their distances from the Sun (closest to farthest), are Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, and Neptune. Given an incomplete and out-of-order list, please use list methods to make it right.

In [100]:
planets = ['venus', 'mercury', 'mars', 'jupiter', 'earth']