# <center><h2> Exam 2</h2></center>

### General guidelines:
 * Do your coding in a clean and logical manner.
 * __Make comments on your codes. Make insightful observations after the analysis.__
 * This is an individual assignment.
 * __No plagiarism__: you are encouraged to do reseach, however, do your own work. Do not copy-and-paste AI's or other people's work.    

### Submission:
 * You have to submit this notebook file and the pdf file - remember to add your name in in the filenames.

<h3> Import Python Tool Modules First</h3>

In [11]:
import numpy as np
import pandas as pd

In [12]:
import matplotlib.pyplot as plt
import seaborn as sns

<h3>Part 1: Baby Name Dataset Analysis (30 Points)</h3>

In this dataset, baby names in the US from 2004 to 2014 are tablulated by gender, year, State, and number of counts.

#### First step: import the dataset (in csv format) from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

<h4>Q1. Read the dataset and assign it to a dataframe called "baby". Display the first 10 rows of the dataset. What are the column labels?</h4>

In [13]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv"
baby = pd.read_csv(url)
baby.head(n = 10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

<h4>Q2. The first two columns "Unnamed: 0" and "Id" are not useful. Please remove them and display the first 5 rows of the new dataframe.</h4>

In [16]:
# Set the unwanted columns to an empty string value
baby = baby.rename(columns={"Unnamed: 0": "", "Id": ""})
baby.head()

                    Name  Year Gender State  Count
0  11349  11350     Emma  2004      F    AK     62
1  11350  11351  Madison  2004      F    AK     48
2  11351  11352   Hannah  2004      F    AK     46
3  11352  11353    Grace  2004      F    AK     44
4  11353  11354    Emily  2004      F    AK     41

<h4>Q3. According to this dataset, how many babies were born each year from 2004 to 2014? Show the results and plot a vertical bar chart for the number of new-borns from 2004 to 2014. Properly label the x-axis and the y-axis.</h4>

<h4>Q4. How many boys (M) and girls (F) were born each year from 2004 to 2014? Show the results and plot a grouped bar chart, one for boys and one for girls. Please add a legend. </h4>

<h4>Q5. Are there more unique male names or female names in the dataset?</h4>

<h4>Q6. What is the most popular boy's name from 2004 to 2014? What is the most popular girl's name from 2004 to 2014?</h4>

<h4>Q7. For the State of Georgia, what was the most popular boy's name in 2008? How about girl's name?</h4>

<h4>Q8. Let's see how popular your name is in the US. </h4>

<h4>How many babies in this dataset have the same first name as you? </h4>

<h4>Q9. Which states experienced the greatest increase in the total number of newborns between 2004 and 2014? </h4>
<h4>How about the bottom five states with the lowest increase during the same period? So, for each state, you add up all the baby counts from 2004 to 2014 and figure out what the top 5 and bottom 5 states are.</h4>

# Part 2: The PIMA Diabetic Data Set 

This dataset is originally from the National Institute of Diabetes and Digestive and Kidney Diseases. It consists of several diagnostic measurements from female patients at least 21 years old of Pima Indian heritage. It also shows the diagnosis on whether the patients have diabetes mellitus disease.

### The filename of the dataset is "diabetes.csv" that comes with this assignment.

The dataset contains the following features/columns:

 * __Pregnancies__: Number of times pregnant
 * __Glucose__: Plasma glucose concentration at 2 hour in an oral glucose tolerance test (mg/dL)
 * __BloodPressure__: Diastolic blood pressure (mm Hg)
 * __SkinThickness__: Triceps skin fold thickness (mm)
 * __Insulin__: 2-hour serum insulin level (mu U/ml)
 * __BMI__: Body mass index (weight in kg/(height in m)^2)
 * __DiabetesPedigreeFunction__: a function which scores likelihood of diabetes based on family history
 * __Age__: age of patients (years)
 * __Outcome__: class variable 0 or 1 indicating disease (0: non-diabetic, 1: diabetic)

## Part 2.1: Data Preparation and Cleaning (15 points)

Some typical tasks in this part include:
 1. Load the dataset in a data frame
 2. Examine the dataset attributes: index, columns, range of values etc.
 3. Handle missing and invalid data
 4. Identify and remove outliers

### Examine the datasetÂ¶
**Q1: Load the dataset in a data frame and show the dataset attributes: index, columns, range of values etc.**

### Handling missing data:
   **Q2: Are there missing values in the data set? Write a code to find out.**
   
   **Q3: You may notice some of the columns have unreasonable zero values (for example, Glucose and BMI). Identify those columns and replace the zeros with the median value of that column.**

### Missing value analysis

### Handling Outliers:
**Q4: Use boxplot to identify outliers for BMI data. Replace the outliers with the median BMI value**

## Part 2.2: In-Depth Analysis 

In this section, you will write codes to answer __three__ questions about the dataset. The first two are given and you need to come up with your own question for the third one. For example, you may analyze how individual feature (column data) impacts the outcome of the diagnosis.

### Q1. Do older women have higher chances of getting diabetes?  
#### You may need to create a bar chart with women in different age groups and show the percentage and/or total number of diabetic vs. non-diabetic in each group.

### Analysis:

In [15]:
# Write your analysis

### 2. Based on BMI data, how many of this group of patients are considered underweight, normal, overweight, obese (class I, II, and III)? 

  - underwieght: 0 < BMI < 18.5
  - normal: 18.5 =< BMI < <25
  - overweight: 25 =< BMI <30
  - class I: 30 =< BMI < 35
  - class II: 35 =< BMI <40
  - class III: BMI >= 40

### Analysis:

### 3. Your own question here.

### Analysis:

<center><h3>Submit both the Jupyter file and the PDF file.</h3></center>